
	/*  спецификация  */
	body {

		font-family: 'Playfair Display', serif;
	}

    section {
        margin: 0;
        padding: 0;
    }

	/*  первый экран "HOME"  */

	.header {
		background: url("../img/3932.png") no-repeat center top / cover;
		padding-top: 16px;
		padding-bottom: 16px;
	}

	header .row {
		margin: 0 15px 0 15px;
	}

	li {
		display: block;
		margin-top: 3px;
	}

    .container{
        margin: 0;
    }

	.menu__item {
		margin-left: 20px;
	}

	.recreate {
		background: url("../img/union.png") no-repeat center top / cover;
		height: 950px;
	}

	h1 {
		position: absolute;
		width: 300px;
		height: 77px;
		left: 16px;
		top: 293px;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 127%;
	}



